body{
    background:rgb(180, 180, 180)
}
.auth_container{
    max-width:500px;
    margin:auto auto;
    height:70vh;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px

}